@import url("https://fonts.googleapis.com/css2?family=Gelasio:wght@400;700&family=Grand+Hotel&family=Poppins:wght@300;500;600;700&display=swap");

@function family($name) {
  @if $name == "poppins" {
    @return "Poppins", sans-serif;
  } @else if $name == "grand-hotel" {
    @return "Grand Hotel", cursive;
  } @else if $name == "gelasio" {
    @return "Gelasio", serif;
  } @else if $name == "inter" {
    @return "Inter", sans-serif;
  }
}

$font-weights: (
  "bold": 700,
  "medium": 500,
  "regular": 400,
  "light": 300,
);

@function weights($weight) {
  @return map-get($font-weights, $weight);
}

// Mixins
@mixin flex($direction, $justify, $align, $gap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  gap: $gap;
}

@mixin button($color, $border-color, $background-color, $padding, $b-radius) {
  background-color: $background-color;
  color: $color;
  padding: $padding;
  border-radius: $b-radius;
  border: none;
  border-bottom: 2px solid $border-color;
  outline: none;
  cursor: pointer;
  font-size: 15px;
  width: fit-content;
  font-weight: weights(bold);
  text-transform: uppercase;
  transition: 200ms;
}

@mixin button-hover($color, $border-color, $background-color) {
  &:hover {
    background-color: $background-color;
    border-bottom: 2px solid $border-color;
    color: $color;
  }
}

// Colors
// color function
@function color($color-mode) {
  @if $color-mode == "active" {
    @return $accent-color;
  } @else {
    @return $text-color;
  }
}

$accent-color: #029ddf;
$secondary-color: #0084b8;
$deep-secondary-color: #0075a3;
$accent-color-secondary: #00a8e8;
$text-color: #495057;
$text-secondary-color: #212529;
$light-secondary-color: #bcc3ca;

$btn-tiny: 0.65em 1.65em;
$btn-small: 0.5em 2em;

$text-small: clamp(1em, 3vmin, 1.5em);
$text-medium: clamp(1.25em, 3.75vmin, 1.75em);
$text-big: clamp(2.25em, 5vmin, 3em);
$text-large: clamp(36px, 8vmin, 52px);

// $text-small: 1em;
// $text-medium: 1.5em;
// $text-large: 3em;
