// this is deprecated
// @import url("https://fonts.googleapis.com/css2?family=Gelasio:wght@400;700&family=Grand+Hotel&family=Poppins:wght@300;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Gelasio:wght@500;700&family=Grand+Hotel&family=Inter:wght@300;500;700&family=Poppins:wght@300;500;700&family=Roboto:ital,wght@0,100;0,300;0,500;1,700&display=swap");

@function family($name) {
  @if $name == "poppins" {
    @return "Poppins", sans-serif;
  } @else if $name == "grand-hotel" {
    @return "Grand Hotel", cursive;
  } @else if $name == "gelasio" {
    @return "Gelasio", serif;
  } @else if $name == "inter" {
    @return "Inter", sans-serif;
  } @else if $name == "roboto" {
    @return "Roboto", sans-serif;
  }
}

$font-weights: (
  "bold": 700,
  "medium": 500,
  "regular": 400,
  "light": 300,
);

@function weights($weight) {
  @return map-get($font-weights, $weight);
}

// Mixins
@mixin flex($direction, $justify, $align, $gap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  gap: $gap;
}

@mixin button($color, $border-color, $background-color, $padding, $b-radius) {
  background-color: $background-color;
  color: $color;
  padding: $padding;
  border-radius: $b-radius;
  border: 1px solid $border-color;
  border-bottom-width: 4px;
  outline: none;
  cursor: pointer;
  font-size: $text-cta;
  width: fit-content;
  font-weight: weights(bold);
  text-transform: uppercase;
  transition: 200ms;

  @media screen and (max-width: 350px) {
    width: 100%;
  }
}

@mixin button-hover($color, $border-color, $background-color) {
  &:hover,
  &:focus {
    background-color: $background-color;
    border-color: $border-color;
    color: $color;
  }
}

// Colors
// color function
@function color($color-mode) {
  @if $color-mode == "active" {
    @return $accent-color;
  } @else {
    @return $text-color;
  }
}

$accent-color: #029ddf;
$secondary-color: #0084b8;
$deep-secondary-color: #0075a3;
$accent-color-secondary: #00a8e8;
$text-color: #495057;
$text-color-secondary: #515559;
$text-secondary-color: #212529;
$light-secondary-color: #bcc3ca;
$very-light-gray: #f5f5f5;
$footer-bg-secondary: #0096CD;
$footer-bg: $accent-color;

$btn-tiny: 0.875em 1.5em;
// $btn-small: 0.5em 2em;

$text-cta: clamp(12px, 2.25vmin, 16px);
$text-small: clamp(1em, 3vmin, 1.15em);
$text-medium: clamp(1.75em, 4vmin, 2.5em);
$text-big: clamp(2.25em, 6vmin, 2.9em);
$text-large: clamp(2.5em, 8vmin, 3.5em);

// $text-small: 1em;
// $text-medium: 1.5em;
// $text-large: 3em;
