@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Poppins:wght@300;500;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");

@function family($name) {
  @if $name == "poppins" {
    @return "Poppins", sans-serif;
  } @else if $name == "grand hotel" {
    @return "Grand Hotel", cursive;
  } @else if $name == "gelasio" {
    @return "Gelasio", serif;
  } @else if $name == "roboto" {
    @return "Roboto", sans-serif;
  }
}

$font-weights: (
  "bold": 700,
  "medium": 500,
  "regular": 400,
  "light": 300,
);

@function weights($weight) {
  @return map-get($font-weights, $weight);
}

// Mixins
@mixin flex($direction, $justify, $align, $gap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  gap: $gap;
}

@mixin button($color, $border-color, $background-color, $padding, $b-radius) {
  background-color: $background-color;
  color: $color;
  padding: $padding;
  border-radius: $b-radius;
  // border: 1px solid $border-color;
  border: none;
  border-bottom: 4px solid $border-color;
  outline: none;
  cursor: pointer;
}

// Mobile nav mixin
// @mixin mobileNav($beakpoint) {
//     @media screen and () {

//     }
// }

// Colors
// color function
@function color($color-mode) {
  @if $color-mode == "active" {
    @return #212529;
  } @else {
    @return #495057;
  }
}

$accent-color: #029ddf;
$secondary-color: #0084b8;
$text-color: #495057;
$light-text: #bcc3ca;

$btn-tiny: 0.4em 1.75em;
$btn-small: 0.5em 2em;

$text-small: 16px;
$text-inter: clamp(18px, 3.5vmin, 22px);
$text-medium: clamp(22px, 4vmin, 28px);
$text-large: clamp(36px, 8vmin, 52px);

// $text-small: 1em;
// $text-medium: 1.5em;
// $text-large: 3em;
