@import "./config";
@import "./Navbar.scss";
@import "./Hero.scss";
@import "./DidYouKnow.scss";

/* Swiper.js variables */

:root {
  --swiper-theme-color: #029ddf !important;
  --swiper-pagination-bullet-inactive-color: #029ddfaa !important;
}

/* Box sizing rules */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: family(inter);
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  overflow-x: hidden;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// Utility styles

a {
  text-decoration: none;

  &:focus {
    color: $accent-color !important;
    outline: none;
  }
}

.--cta {
  @include button(#fff, $secondary-color, $accent-color, $btn-tiny, 6px);
}

.--header {
  color: $accent-color;
  font-size: $text-big;
  font-family: family(gelasio);
  text-align: center;
}

.--description {
  font-size: $text-small;
  font-weight: weights(regular);
  color: $text-color;
  margin-bottom: 2em;
  text-align: center
}
.--cta-secondary {
  @include button($accent-color, $light-secondary-color, #fff, $btn-tiny, 6px);
}

// Semantic styles

header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

main {
  min-height: 100vh;
}

// Utility styles - I already added --description and --header classes, you can use whichever
.section-header {
	color: $accent-color;
	text-transform: capitalize;
}

.section-description {
	font-weight: weights(regular);
	color: $text-color;
	text-transform: capitalize;
	text-align: center;
}
