@import "./config";

.contact {
  @include flex(row-reverse, space-between, center, unset);
  min-height: 100vh;
  margin: auto;
  position: relative;

  > *{
    height: 100vh
  }

  &__img {
    @include flex(column, space-between, flex-end, unset);
    width: 100%;
    flex-basis: 35%;
    position: relative;
    z-index: 1;
    min-height: 100vh;
    background-color: $accent-color;

    &__nav {
      @include flex(row, space-between, center, unset);
      width: 100%;
      padding-block: 2em;
      padding-inline: 3em;
      z-index: 100;
      position: relative;

      .hamburger {
        width: 40px;
        height: fit-content;
        @include flex(column, unset, center, 0.5em);
        cursor: pointer;

        .line {
          width: 100%;
          height: 5px;
          background-color: #fff;
          border-radius: 0.2rem;
          transition: all 300ms ease;
        }
      }

      .show {
        .line1 {
          transform: rotate(45deg) translateY(18.5px);
        }

        .line2 {
          pointer-events: none;
          opacity: 0;
        }

        .line3 {
          transform: rotate(-45deg) translateY(-18.5px);
        }
      }

      .secondary-navbar__navbar {
        list-style: none;
        // border: 3px solid white;
        padding: 0;
        width: 40%;
        overflow: hidden;
        // padding: 1em;
        position: absolute;
        right: 3rem;
        top: 7rem;
        z-index: 100;
        background-color: #fff;
        border-radius: 8px;
        border: 1px solid lighten($text-color, 30%);
        // box-shadow: 0 4px 0 lighten($text-color, 30%);
        transition: all 300ms ease;
        opacity: 0;
        pointer-events: none;
        @include flex(column, flex-start, flex-start, 0);

        li {
          width: 100%;

          > * {
            font-family: family(poppins);
            color: $text-color;
            font-weight: weights(light);
            width: 100%;
            height: 100%;
            display: inline-block;
            transition: all 300ms ease;
            padding: 0.8rem 1rem;
            border-bottom: thin solid lighten($text-color, 20%);

            &:hover {
              background-color: $accent-color;
              color: #fff;
            }
          }
        }

        li:last-of-type a {
          border: 0;
        }

        // display: none;
      }
      .active {
        opacity: 1;
        pointer-events: all;
      }

      &__home {
        font-size: clamp(1.2em, 4vmin, 1.75em);
        color: #fff;
      }

      img {
        width: 15vmin;
      }
    }

    & > img {
      position: absolute;
      right: 30%;
      bottom: 7.5%;
    }
  }
}

@media screen and (max-width: 800px) {
  .contact {
    justify-content: flex-start;
    gap: 4em;
    flex-direction: column;

    &__img {
      flex-basis: unset;
      justify-content: center;
      margin-right: 0;
      height: 15vh;
      min-height: unset;

      & > img {
        display: none;
      }

      &__nav {
        width: 100%;
        background-color: $accent-color;
      }
    }
  }
}
