@import "./config";

.contact {
  @include flex(row, space-between, center, unset);

  height: 100vh;
  // width: clamp(300px, 90vw, 1200px);
  margin: auto;
  position: relative;

  // &::after {
  //   content: "";
  //   width: 40%;
  //   height: 100%;
  //   background-color: $accent-color;
  //   position: absolute;
  //   inset: 0;
  //   z-index: -1;
  // }

  &__img {
    @include flex(column, space-between, flex-start, unset);
    width: 100%;
    flex-basis: 50%;
    z-index: 1;
    height: 100%;
    position: relative;
    margin-right: 3em;

    &::after {
      background-color: $accent-color;
      width: 70%;
      height: 100%;
      content: "";
      position: absolute;
      z-index: -1;
      inset: 0
    }

    &__nav {
      @include flex(row, space-between, center, unset);
      height: 20vh;
      width: 70%;
      padding-inline: 1.5em;
      z-index: 100;

      &__home {
        font-size: clamp(1.2em, 4vmin, 1.75em);
        color: #fff;
      }

      img {
        width: 15vmin;
      }
    }

    & > img {
      width: 70vw;
      height: 70vh;
      position: relative;
      left: 10%;
      bottom: 10%;
    }
  }
}

@media screen and (max-width: 800px) {
  .contact {
    justify-content: flex-start;
    flex-direction: column;
    padding-bottom: 3em;
    z-index: -1;

    &__img {
      flex-basis: unset;
      height: 15vh;
      justify-content: center;
      margin-right: 0;

      &::after {
        display: none;
      }

      & > img {
        display: none;
      }

      &__nav {
        width: 100%;
        background-color: $accent-color;
      }
    }
  }
}
