.did-you-know {
  padding: 2em;
  margin: 0 auto;
  margin-top: 17.5vmin;
  max-width: 700px;
  position: relative;
  background-color: $accent-color-secondary;
  color: #fff;
  border-radius: 1rem;
  container-type: inline-size;
  container-name: didYouKnow;

  &__heading {
    font-family: family(grand-hotel);
    // font-size: clamp(3rem, 50vw, 3.5rem);
    font-size: $text-large;
    font-weight: weights(regular);
    letter-spacing: 3px;
    width: fit-content;
  }

  &__description {
    font-weight: weights(light);
    width: 70%;
    margin-block: 0.5em 1em;
  }

  &__buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
    width: 90%;

    @container didYouKnow (width <= 600px) {
      width: 100%;
      gap: 1em;
      place-items: center;

      > * {
        width: 100%;
      }
    }

    .arrow-icon {
      margin-left: 0.5em;
      transition: all 300ms ease;
    }

    .college-cta {
      display: flex;
      align-items: center;
      width: fit-content;
      color: #fff;
      font-weight: weights(light);

      &:hover {
        .arrow-icon {
          margin-left: 0.7em;
        }
      }
    }
  }

  .overlay {
    position: absolute;
    inset: 0;
    margin: auto;
    pointer-events: none;
    z-index: -1;

    img {
      pointer-events: inherit;
      width: 100%;
      height: 100%;
      translate: max(20.2%, 32%) 0;
    }
  }
}
