.did-you-know {
  padding: 2em;
  margin: 0 auto;
  margin-top: 17.5vmin;
  max-width: 700px;
  position: relative;
  background-color: $accent-color-secondary;
  color: #fff;
  border-radius: 1rem;
  container-type: inline-size;
  container-name: didYouKnow;
  width: clamp(300px, 90vw, 900px);

  @media screen and (max-width: 800px) {
    width: clamp(300px, 90vw, 500px);

    &__buttons {
      & > * {
        width: 100% !important;
        text-align: center;
      }
    }
  }

  &__heading {
    font-family: family(grand-hotel);
    // font-size: clamp(3rem, 50vw, 3.5rem);
    font-size: $text-large;
    font-weight: weights(regular);
    letter-spacing: 3px;
    width: fit-content;
  }

  &__description {
    font-weight: weights(light);
    width: 70%;
    font-size: $text-small;
    margin-block: 0.5em 1em;
  }

  &__buttons {
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    // align-items: center;
    // width: 90%;

    @include flex(row, flex-start, center, 1.5em);

    @container didYouKnow (width <= 600px) {
      // width: 100%;
      gap: 1em;
      flex-direction: column;
      // place-items: center;

      > * {
        width: 100% !important;
        text-align: center;
      }
    }

    .arrow-icon {
      margin-left: 0.5em;
      transition: all 300ms ease;
    }

    .college-cta {
      display: flex;
      align-items: center;
      // width: fit-content;
      color: #fff;
      font-weight: weights(light);

      &:hover {
        .arrow-icon {
          // margin-left: 0.7em;
        }
      }
    }
  }

  .overlay {
    position: absolute;
    inset: 0;
    margin: auto;
    pointer-events: none;
    z-index: -1;

    img {
      pointer-events: inherit;
      width: 100%;
      height: 100%;
      translate: max(30.2%, 32%) 0;
    }
  }
}
