@import "./config";

.enroll-container {
	display: flex;
	align-items: center;
	gap: 2em;

	> * {
		height: 100%;
	}

	.enroll-form {
		flex: 1;
		@include flex(column, center, center, 1em);

		&__heading {
			text-align: center;

			&-header {
				font-family: family(gelasio);
				color: $accent-color;
			}

			&-description {
				color: $text-color;
				font-weight: weights(light);
			}
		}
	}

	.telephone {
		padding: unset !important;
		border: none;
		outline: none;
		display: flex;
		// align-items: center;

		&__contry-code {
			@include flex(row, center, center, unset);
			padding-inline: 0.5em;
			background-color: $accent-color;
			color: #fff;
			border-radius: 4px 0 0 4px;
			outline: 1px solid $accent-color;
		}

		input {
			width: 100%;
			border-radius: 0;
			border-radius: 0 4px 4px 0;
		}
	}

	// Side nav
	.side-nav {
    height: 100dvh;
		width: 40vw;
		color: #fff;
		background-color: $accent-color;

		.secondary-navbar {
			margin-top: 2em;
			@include flex(row, space-between, center, unset);
			padding-inline: 3em;
			position: relative;

			.hamburger {
				width: 40px;
				height: fit-content;
				cursor: pointer;
				@include flex(column, center, unset, 0.5em);

				.line {
					width: 100%;
					height: 5px;
					background-color: #fff;
					border-radius: 0.1rem;
					transition: all 300ms ease;
				}
			}

			.show {
				.line1 {
					transform: rotate(45deg) translateY(18.5px);
				}

				.line2 {
					pointer-events: none;
					opacity: 0;
				}

				.line3 {
					transform: rotate(-45deg) translateY(-18.5px);
				}
			}

			&__navbar {
				list-style: none;
				// border: 3px solid white;
				padding: 0;
				width: 40%;
				overflow: hidden;
				// padding: 1em;
				position: absolute;
				right: 3rem;
				top: 5rem;
				z-index: 100;
				background-color: #fff;
				border-radius: 8px;
				border: 1px solid lighten($text-color, 30%);
				// box-shadow: 0 4px 0 lighten($text-color, 30%);
				transition: all 300ms ease;
				opacity: 0;
				pointer-events: none;
				@include flex(column, flex-start, flex-start, 0);

				li {
					width: 100%;

					> * {
						font-family: family(poppins);
						color: $text-color;
						font-weight: weights(light);
						width: 100%;
						height: 100%;
						display: inline-block;
						transition: all 300ms ease;
						padding: 0.8rem 1rem;
						border-bottom: thin solid lighten($text-color, 20%);

						&:hover {
							background-color: $accent-color;
							color: #fff;
						}
					}
				}

				li:last-of-type a {
					border: 0;
				}
			}

			.show {
				opacity: 1;
				pointer-events: all;
			}
		}

		&__sdg {
			margin: 1em 0 0 1em;
			font-weight: weights(light);
			width: fit-content;

			&--four {
				width: 50%;
			}

			// &--sdg {
			//     border: 3px solid green;
			// }
		}

		&__image {
			img {
				transform: translateX(-50px);
				width: 90dvw;
				max-width: 480px;
				filter: drop-shadow(3px 4px 15px rgba(0, 0, 0, 0.2));
			}
		}
	}

	@media screen and (max-width: 855px) {
		// display: none;
		flex-direction: column-reverse;
		align-items: unset;
		justify-content: flex-end;
		// gap: 3em;

		.enroll-form {
			flex: unset;
			margin-bottom: 1em;

			&__input,
			.telephone input {
				padding-block: 1em;
			}
		}

		.side-nav {
			height: revert;
			align-self: flex-start;
			width: 100dvw;

			.secondary-navbar {
				padding-bottom: 0.5em;
				height: 100%;
				margin-top: 0.6em;
			}

			&__image,
			&__sdg {
				display: none;
			}
		}

		.form-cta {
			padding-block: 1em;
		}
	}
}
