.footer-main {
	width: 100%;
	background-color: $footer-bg;
	padding: 0 5em;
	@include flex(row, center, center, unset);	
	// display: grid;
	// grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	padding-bottom: 1em;
	container-type: inline-size;
	container-name: footerMain;

	@media screen and (max-width: 680px) {
		flex-direction: column;
	}

	&__logo {
		padding: 3em 0;
		display: flex;
		gap: 1em;
		font-family: family(poppins);

		.footer-main__name {
			width: 100%;
		}

		&-school-name {
			color: #fff;
			font-size: 1.5rem;
			width: 70%;
		}

		em {
			color: #fff;
			font-weight: 100;
		}

		img {
			align-self: flex-start;
		}

		@container footerMain  (width <= 680px) {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding-block: 1em;

			img {
				align-self: revert !important;
			}

			&-school-name {
				width: initial;
				text-align: center;
			}
		}
	}

	&__links {
		@include flex(row, unset, unset, 4em);
		padding-top: 2em;
		color: #fff;

		> * {
			@include flex(column, unset, unset, 0.5em);
			.footer-header {
				letter-spacing: 2px;
			}
			li {
				color: #fff;
				list-style: none;

				> * {
					color: inherit;
					font-weight: weights(light);

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}

.footer-secondary {
	width: 100%;
	background-color: $footer-bg-secondary;
	@include flex(row, space-between, center, unset);
	padding-inline: 5em;
	padding-block: 1.5em;
	color: #fff;

	&__org {
		margin-bottom: 0;
	}

	.link {
		color: #fff;
		font-weight: weights(light);
	}

	.authors {
		margin-left: .5em;
		margin-bottom: 0 !important;
	}

	.github-reachout {
		display: inherit;
		align-items: center;
		gap: .4em;
		color: #fff;
		font-size: clamp(.5rem, 50vw, 1.2rem);


		// .icon {
		// }
	}

	@media screen and (width <= 700px) {
		flex-direction: column;
		align-items: center;
		gap: 1em;
		text-align: center;

		&__org {
			display: inline-block;

			.authors {
				margin-left: 0.5em;
			}
		}
	}
}
