@import "./config";

.gallery {
  padding-top: 20vh;

  @media screen and (max-width: 680px) {
    padding-top: 15vh;
  }

  .gallery-section {
    padding-top: 0 !important;

    .gallery-section__images {
      margin-bottom: 0 !important;
    }
  }
  .--header {
    margin: 4vmax 0;
  }
  #see-more-btn {
    display: none !important;
  }
}
