@import "./config";

.gallery-section__images__image {
	background: linear-gradient(to left, rgb(193, 188, 188), rgb(255, 255, 255));
	background-repeat: no-repeat;
	background-size: cover;
	transition: background 300ms ease;
	animation: moveBg 2s linear infinite;
	display: grid;
	align-items: flex-end;
	isolation: isolate;
	overflow: hidden;
	cursor: pointer;
	position: relative;

	& > * {
		grid-column: 1 / -1;
		grid-row: 1/ -1;
	}

	dialog {
		width: clamp(300px, 80%, 600px);
		border: none;
		margin: auto;

		&::backdrop {
			width: 100vw;
			height: 100vh;
			background-color: rgba(0, 0, 0, 0.5);
		}

		img {
			width: 100%;
			overflow: hidden;
		}
	}

	.image-button {
		z-index: 2000 !important;
		padding: 0.5em 2em;
		font-size: 0.9em;
		margin: 1em;
		transform: translateY(100px);
	}

	@keyframes moveBg {
		to {
			background: linear-gradient(
				to right,
				rgb(193, 188, 188),
				rgb(255, 255, 255)
			);
		}
	}


	& > img {
		width: 100%;
		aspect-ratio: 1;
		object-fit: cover;
		transition: all 300ms ease;
	}

	&.loaded {
		filter: none;
		& > img {
			opacity: 1;
		}
	}

	&:hover,
	&:focus {
		& > img {
			// filter: grayscale(70%);
			transform: scale(1.025);
		}
		.image-button {
			transform: translate(0);
		}
	}
}
