@import "./config";

.gallery {
  padding-block: 3em;
  @media screen and (max-width: 680px) {
    padding-top: 15vh;
  }

  .gallery-section {
    padding-top: 0 !important;

    .gallery-section__images {
      margin-bottom: 0 !important;
    }

    &__header {
      margin-bottom: .7em;
      font-size: $text-large;
      color: $accent-color-secondary;
      font-family: family(gelasio);
    }
  }

  #see-more-btn {
    display: none !important;
  }
}
