@import "./config";

.gallery-section {
  @include flex(column, center, center, unset);
  text-align: center;
  padding-top: 17.5vmin;
  width: 100vw;

  .--header {
    margin-bottom: 0.75em;
  }

  .gallery-section__images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
    grid-template-rows: repeat(auto-fit, 1fr);
    margin-bottom: 3em;

    @media screen and (max-width: 500px) {
      & > *:last-child {
        position: relative;
        &::after {
          content: "";
          background: linear-gradient(0deg, #fff, transparent);
          width: 100%;
          height: 100%;
          position: absolute;
          inset: 0;
        }
      }
    }
  }
}
