@import "./config";

.hero__background {
  width: 100%;
  height: 100%;

  .swiper {
    width: 100%;
    height: 100%;
    position: relative;

    .swiper-slide {
      &::after {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-color: #ffffff79;
        z-index: 1;
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .swiper-pagination {
      z-index: 1;

      .swiper-pagination-bullet {
        --swiper-pagination-bullet-size: 2vmin;
      }
    }
  }
}
