@import "./config";

.hero__text {
  @include flex(column, center, center, 0);

  display: flex;
  position: absolute;
  z-index: 1;
  text-align: center;
  padding: 2em;
  gap: 1rem;

  span {
    text-transform: uppercase;
    font-weight: weights(light);
    letter-spacing: 4px;
    font-size: 4vmin;
  }

  h1 {
    font-family: family("gelasio");
    font-size: 8vmin;
    max-width: 15ch;
    line-height: 100%;
  }

  p {
    font-size: 3vmin;
    max-width: 40ch;
    color: $text;
  }
}
