@import "./config";

.hero__text {
  @include flex(column, center, center, 0);

  display: flex;
  position: absolute;
  z-index: 1;

  span {
    text-transform: uppercase;
    font-weight: weights(light);
    color: $light-text;
  }
}
