@import "./config";

.hero__background {
  width: 100%;
  inset: 0;
  position: relative;

  &::after {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #ffffff5b;
    z-index: 1;
  }

  .swiper {
    width: 100%;
    height: 100vh;

    .swiper-slide img {
      height: 100%;
      width: 100%;
    }
  }
}
