@import "./config";
.secondary-nav {
  background-color: #f0f0f0;

  &__text {
    @include flex(row, space-between, center, unset);
    width: clamp(300px, 90vw, 1200px);
    margin: auto;
    min-height: 5vh;



    &__social {
      display: inherit;
      gap: 1em;
      list-style: none;

      li {
        display: inline-block;

        > * {
          color: $accent-color;
          font-weight: weights(bold);
          font-size: 1.1rem;
        }
      }
    }

    &-info {
      display: flex;
      gap: 1em;

      > * {
        display: inherit;
        align-items: center;
        gap: .5em;
        color: $text-color;
        transition: all 300ms ease;
      

        &:hover:not([title]) {
          color: $accent-color;
          text-decoration: underline
        }

      }

      [title="Call Us Now"] {
        color: $accent-color;
      }
    }

    @media screen and (width <= 680px) {
      flex-direction: column ;
      padding-block: .4em;

      &-info {
        width: 100%;
        justify-content: center;
        padding-bottom: .3em;
        border-bottom: thin solid $light-secondary-color;
      }

        &__social {
          gap: 2em;
          li {
            > * {
              font-size: 1.3rem;
            }
          }
        }
    }
  }
}


.main-nav {
  @include flex(row, space-between, center, unset);
  background-color: #fff;
  width: clamp(300px, 90vw, 1200px);
  margin: auto;
  padding-block: 0.75em;
  min-height: 15vh;
  position: relative;
  container-type: inline-size;
  container-name: navbar;
  z-index: 100;

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;

    img {
      width: 3.5em;
    }

    & > span {
      font-size: 1.25em;
      line-height: 110%;
      max-width: 17.5ch;
      color: $accent-color;

      span {
        text-shadow: 0 0 2px $accent-color;
      }
    }
  }

  &__items {
    display: inherit;
    align-items: center;
    gap: 2em;
    list-style: none;
    width: 90%;

    li:nth-of-type(1) {
      margin-left: auto;
    }

    li {
      a {
        color: color(inactive);
        text-decoration: none;
        font-weight: weights(regular);
        transition: color 300ms ease;
        font-size: $text-small;

        &:hover {
          color: color(active);
        }
      }
    }

    // .enroll {
    //   margin-left: auto;
    //   .main-nav__enroll-btn {
    //     color: #fff;
    //   }
    // }
  }

  &__hamburger {
    z-index: 100;
    width: 40px;
    height: fit-content;
    display: inherit;
    flex-direction: column;
    gap: 0.4em;
    display: none;
    cursor: pointer;

    .hamburger-line {
      width: 100%;
      height: 5px;
      background-color: $accent-color;
      border-radius: 0.5rem;
    }
  }

  @container navbar (max-width: 680px) {
    .main-nav__items {
      width: 100%;
      position: absolute;
      flex-direction: column;
      top: 0;
      left: 0;
      background-color: #fff;
      padding: 2em;
      border-radius: 1rem;
      box-shadow: 3px 4px 15px rgb(0 0 0 / 0.4);
      transform: translateY(-100%);
      opacity: 0;
      pointer-events: none;
      transition: all 300ms ease;

      :is(li:first-of-type, li + li):not(.enroll) {
        width: 60%;
        text-align: center;
        padding-bottom: 0.5em;
        border-bottom: 2px solid lighten($accent-color, 20%);
        transition: width 300ms ease;

        &:hover {
          width: 100%;
        }
      }

      :is(li, .enroll) {
        margin-left: unset;
      }

      .enroll {
        width: 100%;
      }
    }
    .main-nav__items.active {
      transform: revert;
      opacity: 1;
      pointer-events: all;
    }
    .main-nav__hamburger {
      display: inherit;

      > * {
        transition: all 300ms ease;
      }
    }
  }

  &:has(> #{&}__items.active) {
    .main-nav__hamburger {
      .line1 {
        transform: rotate(45deg) translateY(16.5px);
      }

      .line2 {
        width: 20%;
        opacity: 0;
        pointer-events: none;
      }

      .line3 {
        transform: rotate(-45deg) translateY(-16.5px);
      }
    }
  }
}
