@import "./config";

.register {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2em;
  padding-top: 20vh;

	.side-image {
		width: 47%;
		height: 100%;
    position: relative;
    display: grid;
    }

  &__form {
    flex: 1;
    @include flex(column, center, center, 1em);

    &__heading {
      text-align: center;

      &__header {
        margin: 4vmax 0 2vmax;
      }
    >  * {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
    }

    .notice {
      z-index: 100;
      color: #fff;
      margin: 1em auto;
    }

		&__item {
			max-width: 100%;
			object-fit: cover;
			height: 100%;
      filter: grayscale(30%);
		}
	}

	> * {
		height: 100%;
	}

	&__form {
		flex: 1;
		@include flex(column, center, center, 1em);

		&__heading {
			text-align: center;

      &__header {
        font-size: $text-big;
        font-family: family(gelasio);
        color: $accent-color;
      }
    }
  }}
}
