@import "./config";

.register {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2em;
  padding-top: 20vh;

  > * {
    height: 100%;
  }

  &__form {
    flex: 1;
    @include flex(column, center, center, 1em);

    &__heading {
      text-align: center;

      &__header {
        margin: 4vmax 0 2vmax;
      }
    }
  }
}
