@import "./config";

.rules-regulations {
  padding-top: 20vh;

  @media screen and (max-width: 680px) {
    padding-top: 15vh;
  }

  .--header {
    margin-top: 4vmax;
  }

  &__text {
    width: clamp(300px, 90vw, 900px);
    margin: auto;
  }
}
