@import "./config";

.rules-regulations {
  padding-block: 20vh 5vh;

  @media screen and (max-width: 680px) {
    padding-top: 15vh;
  }

  .--header {
    margin-top: 4vmax;
  }

  &__text {
    width: clamp(200px, 70vw, 300px);
    aspect-ratio: 1 / 1.414;
    margin: 0 auto 2em;
    background-color: $very-light-gray;
    border-radius: 1rem;
    box-shadow: 2px 2px 15px rgb(0 0 0 / .2);
  }
}
