@import "./config";

.video-section {
  @include flex(column, center, center, unset);
  margin: auto;
  margin-top: 17.5vmin;
  // max-height: 700px;
  width: clamp(300px, 90vw, 1200px);

  // @media screen and (width <= 680px) {
  //   max-height: 700px;
  // }
}

.video-container {
  width: 100%;
  max-width: 900px;
  border-radius: 2vmin;
  overflow: hidden;
  aspect-ratio: 16 / 9;
  position: relative;
  margin-bottom: 3em;

  video {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: 100%;
  }

  &__video-action-toggler {
    @include flex(row, center, center, unset);
    color: $accent-color;
    transition: opacity 300ms ease;
    width: clamp(50px, 10vmin, 80px);
    aspect-ratio: 1;
    background-color: #fff;
    position: absolute;
    inset: 0;
    border-radius: 50%;
    margin: auto;
    cursor: pointer;
    box-shadow: 0 4px 15px rgb(0 0 0 / 0.4);
    transition: all 300ms ease;
  }

  &__video-action-toggler.hide {
    opacity: 0;
    pointer-events: none;
  }
}

// @media screen a{
// }
