@import "./config";

.video-section {
  @include flex(column, center, center, unset);
  padding-block: 4em;
  min-height: 100vh;
  width: clamp(300px, 90vw, 1200px);
  margin: auto;
}

.video-container {
  // margin-top: 3em;
  // border: 3px solid green;
  width: 100%;
  max-width: 900px;
  // max-height: 400px;
  aspect-ratio: 16 / 9;
  border-radius: 1rem;
  overflow: clip;
  position: relative;

  &__video-action-toggler {
    @include flex(row, center, center, unset);
    color: $accent-color;
    transition: opacity 300ms ease;
    width: 70px;
    aspect-ratio: 1;
    background-color: #fff;
    position: absolute;
    inset: 0;
    border-radius: 50%;
    margin: auto;
    cursor: pointer;
    box-shadow: 3px 4px 15px rgb(0 0 0 / 0.4);
  }
}
