@import "./config";

.contact__form {
  @include flex(column, center, center, 2em);
  gap: 1.5em;

  width: clamp(300px, 100vw, 800px);
  flex-basis: 65%;
  padding-block: 3em;
  margin-right: 4em;

  .contact-header {
    color: $accent-color !important;
    font-size: 3rem !important;
  }

  .success {
    outline: $success-color thin solid;
    padding: .7em 0;
    border-radius: .5rem;
    background-color: lighten($success-color, 30%);
    color: $success-color;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    text-align: center
  }

  .error {
    @extend .success;
    background-color: lighten($error-color, 30%);
    color: $error-color;
    outline: $error-color thin solid;
  }

  @media screen and (max-width: 800px) {
    height: 100%;
    gap: 1em;
    width: clamp(300px, 100vw, 600px);
    margin: 0;
  }
}
