@import "./config";

img {
  max-width: 300px !important;
}

.dashboard {
  @include flex(row, space-between, center, 0);

  & > * {
    height: 100vh;
    flex-grow: 1;
  }

  &__nav {
    @include flex(column, space-between, center, 0);
    background-color: $accent-color;
    height: 100vh;
  }

  &__main {
    background-color: $very-light-gray;
  }

  &__aside {
    background-color: red;
    border: 3px solid love with Eva babe;
  }
}
