@import "./config";

.hero {
  height: 100%;
}

.hero__background {
  width: 100%;
  margin-top: clamp(-5em, -10vmin, -6em);
  height: inherit;

  .swiper {
    width: 100%;
    height: inherit;
    position: relative;

    .swiper-slide {
      &::after {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-color: #ffffff85;
        z-index: 1;
        isolation: isolate;
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .swiper-pagination {
      z-index: 1;
      --swiper-pagination-bottom: 16px;

      .swiper-pagination-bullet {
        --swiper-pagination-bullet-size: 2vmin;
      }
    }
  }
}
