@import "./config";

.register {
  display: flex;
  flex-direction: row-reverse;
  height: 100dvh;
  // align-items: center;

  &__image {
    width: 50%;
    height: 100%;
    position: relative;
    display: grid;
    // i;

    > * {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
    }

    &__notice {
      z-index: 100;
      color: #fff;
      margin: 1em auto;
    }

    &__item {
      max-width: 100%;
      object-fit: cover;
      height: 100%;
      filter: grayscale(30%);
    }
  }

  > * {
    height: 100%;
  }

  &__form {
    flex: 1;
    @include flex(column, center, center, 1em);

    &__heading {
      text-align: center;

      &__header {
        font-size: $text-big;
        font-family: family(gelasio);
        color: $accent-color;
      }
    }

    .--danger,
    .--cta {
      width: clamp(300px, 85%, 500px);
    }

    .register-cta:disabled {
      background-color: $light-secondary-color;
      cursor: not-allowed;
    }
  }
}
